<div class="home_div">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16" id="home_icon">
    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
  </svg>
  <%= link_to new_blog_path, class:"create_post_btn" do %>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
  </svg>
  <% end %>
  <% @blogs.each do |b| %>
  <div class="blog_div">
    <%= image_tag b.user.image.url, class: "profile_image"%>
    <p class="user_name"><%= b.user.name %></p><br>
    <%= image_tag b.image.url, class:"image_style" %><br>
    <p style="white-space:pre-wrap"><%= b.content %></p><br>
    <% if current_user && current_user.id == b.user_id %>
      <div class="links_div" >
        <%= link_to edit_user_path(b.user.id), class:"links" do%>
          <span class="glyphicon glyphicon-user"></span>
        <% end %>
        <%= link_to blog_path(b.id), class:"links" do%>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        <%= link_to edit_blog_path(b.id), data: {confirm: "Confirm Edit!"}, class:"links" do%>
          <span class="glyphicon glyphicon-erase"></span>
        <% end %>
        <%= link_to blog_path(b.id), method: :delete, data: {confirm: "Confirm Delete!"} , class:"links" do%>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
