<h2 align="center">
<span class="glyphicon glyphicon-user"></span></h2>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error")%></h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="blog_div">
<%= form_with(model: @user, local: true, url: user_path) do |f| %>
  <%= f.text_field :name, placeholder: "Name", class:"new_post" %><br>
  <%= f.file_field :image, class:"new_post" %><br>
  <%= f.submit "Update Account", class:"post_btn" %>
  <%= link_to 'Home', blogs_path , class:"post_btn"%>
<% end %>
</div>
